<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/styles/index.css?v=1.0.6">
</head>
<body>
    <header>
      <a href="/"> 
            <button class="logout-button"> Добавление</button>
        </a>
        <a href="/pictures?mod=my"> 
            <button class="logout-button">Мои картинки</button>
        </a>
        <a href="/pictures?mod=all"> 
            <button class="logout-button">Все картинки</button>
        </a>
        <a href="/pictures?mod=request"> 
            <button class="logout-button">Запросы</button>
        </a>
        <button class="logout-button" onclick="logout()">Выход</button>
    </header>

    <main>
        <h1>Загрузите фотографию</h1>
        <div id="drop-area">
            <img id="thumbnail" class="thumbnail" src="" alt="">
            <p id="drop-text">Перетащите файл сюда или нажмите для выбора</p>
            <input type="file" id="file-input" accept="image/*" required>
        </div>
        <p id="plagiarism-result"></p>
        
        <div id='plagiat-button'></div>
        <h2 id="extra-images-header" style="display: none;">Сплагиаченное изображение</h2>
        <div id="extra-images-container">
            <div id="extra-images"></div>
        </div>
    </main>

    <script src="/static/scripts/logout.js"></script>
    <script src='/static/scripts/photo.js?v=1.0.8'></script>
</body>
</html>
